<h1>Книги</h1>
<table>
  <thead>
    <tr>
      <td>id</td>
      <td>Название</td>
      <td>Описание</td>
      <td>Обложка</td>
      <td>Дата создания</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{book.id}}</td>
      <td><input type='text' [(ngModel)]='book.title' /></td>
      <td><textarea [(ngModel)]='book.description'></textarea></td>
      <td>
        <img *ngIf='!poster_base64.length' [src]='book.poster_url'></img>
        <img [src]='poster_base64'></img>

        <input type='file' name='book[poster]' id='book_poster' [(ngModel)]='files_input' (change)='set_poster_base64($event)' />
      </td>
      <td>{{book.created_at}}</td>
      <td>
        <a href='javascript:void(0)' (click)='update(book)'>Сохранить</a>
        <a [href]='"/books/" + book.id' data-method='delete'>Удалить</a>
      </td>
    </tr>
  </tbody>
</table>
