<h1>Редактирование книги "{{old_title}}"</h1>
<table class='table table-hover'>
  <thead>
    <tr>
      <td>Название</td>
      <td>Описание</td>
      <td>Обложка</td>
      <td>Дата создания</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <tr class='form-group'>
      <td><input type='text' [(ngModel)]='book.title' class='form-control'/></td>
      <td><textarea rows='5' [(ngModel)]='book.description' class='form-control'></textarea></td>
      <td>
        <img *ngIf='!poster_base64.length' [src]='book.poster_url'></img>
        <img [src]='poster_base64'></img>

        <input type='file' name='book[poster]'
        id='book_poster' [(ngModel)]='files_input'
        (change)='set_poster_base64($event)'
        class='form-control'/>
      </td>
      <td>{{book.created_at | amLocale: 'ru' | amDateFormat: 'LL'}}</td>
      <td>
        <a class='btn btn-success' href='javascript:void(0)' (click)='update(book)'>Сохранить</a>
        <a [href]='"/books/" + book.id' data-confirm='Вы уверены?' data-method='delete'>Удалить</a>
      </td>
    </tr>
  </tbody>
</table>
