h1 Книги

table.table.table-hover[*ngIf='books.length']
  thead
    tr
      td Название
      td Описание
      td Обложка
      td Дата создания
      td

  tbody
    tr[*ngFor='let book of books; let i = index']
      td.bold {{book.title}}

      td {{book.description}}

      td
        a[bind-href='book.poster_original_url' target='blank']
          img[bind-src='book.poster_url']

      td {{book.created_at | amLocale: 'ru' | amDateFormat:'LL'}}

      td
        a>[bind-href='"/books/" + book.id + "/edit"'] Редактировать
        a[href='javascript:void(0)' on-click='delete_book(i)'] Удалить


ng-template[*ngIf='!books.length']
  p Нет записей

book-new Загрузка...
