<h2>Новая книга</h2>
<div>
  <form (ngSubmit)='create_book()'>

    <div class='form-group'>
      <input type='text' name='book[title]'
        id='book_title' [(ngModel)]='book.title'
        placeholder='Название' class='form-control' />
    </div>

    <div class='form-group'>
      <textarea name='book[description]'
        id='book_description' [(ngModel)]='book.description'
        placeholder='Описание' class='form-control'></textarea>
    </div>

    <div class='form-group'>
      <input type='file' name='book[poster]'
        id='book_poster' [(ngModel)]='files_input'
        (change)='set_poster_base64($event)' class='form-control' />
    </div>

    <div *ngIf='poster_base64.length' class='form-group'>
      <img [src]='poster_base64'></img>
    </div>

    <div class='form-group'>
      <input type='submit' class='btn btn-success' value='Создать книгу'>
    </div>
  </form>
</div>
